{% extends 'base_temp_service.html' %}
{% block content %}

    <style>
        body {
            font-family: sans-serif;
            margin: 20px;
        }
        .chat-history {
            border: 1px solid #ddd;
            padding: 10px;
            max-height: 400px;
            overflow-y: scroll;
        }
        .message {
            margin-bottom: 0;
        }
        .user-message {
            background-color: #eee;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        .model-message {
            white-space: pre-wrap;
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 5px;
            margin-top: 5px;
            font-family: monospace;
        }
    </style>


    <h1>Financial Beginner Chatbot</h1>
    <div class="chat-history">
        {% for message in messages %}
        <div class="message">
            {% if message.role == 'user' %}
            <div class="user-message">{{ message.parts[0] }}</div>
            {% else %}
            <div class="model-message"><pre>{{ message.parts[0] | replace('> ', '') | replace('**', '') | safe }}</pre></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="chat-controls">
        <a href="{{ url_for('clear_chat') }}">Clear Chat</a>
    </div>
    <form action="/chat" method="post">
        <input type="text" name="message" placeholder="Ask your financial question">
        <button type="submit">Ask</button>
    </form>

{% endblock%}